
/*****************************************************************
05-stylesheet_masterpage-v1.7.css

These styles are used by the master page(s).

Revisions:
    2017-10-04 SG: Changes to accomodate ReportViewer 2016 bugs.
*****************************************************************/

.masterpage_outer {
    background-color: #FFFFFF;
    background-image: url('../../images/background_body.gif');
    background-repeat: repeat-x;
    border: 1px solid #A0A0A0;
    padding: 6px;
    margin-right: auto;
    margin-left: auto;
    /*margin-bottom: 6px;*/
    min-width: 740px;
    max-width: 1080px;
    width: 98%;
    /*position: relative;*/
    /* 2017-06-30 SG: wide reports fit better */
    /*display: table;*/
    /* 2017-10-04 SG: Changes to accomodate ReportViewer 2016 bugs. */
    /*height: 98%;*/
    min-height: calc(100vh - 50px);
}

/* 2017-10-04 SG: Changes to accomodate ReportViewer 2016 bugs. */
form {
    height: auto;
}

.page_header {
    /* 2017-07-14 SG width: 100%;*/
    max-width: 100%;
    height: 86px;
    top: 0;
    position: relative;
}

.page_header_logo {
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.page_header_tagline1 {
    border-style: none;
    text-align: center;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    width: 100%;
    /*font-size: 32px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #404040;*/
}

.page_header_tagline2 {
    border-style: none;
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 14px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    padding-top: 52px;
    color: #808080;
}

.page_title {
    font-size: 1.15em;
    font-weight: bold;
    padding-top: 4px;
}

.page_footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.80em;
    text-align: center;
    color: #808080;
    /* 2017-10-04 SG: Changes to accomodate ReportViewer 2016 bugs. */
    padding-top: 4px;
    /*padding-bottom: 2px;
    bottom: 5px;
    width: 99%;*/
    /*position: absolute;*/
    height: 18px;
}

.content_main {
    /* 2017-06-30 SG: Changes to accomodate wide reports better */
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

/************************************************************/
/* Styles for the login control widget                      */

.login_control {
    float: right; /* top: 90px; position: relative; */
    height: 1.5em;
    clear: both;
    margin-top: 5px;
}

.login_control_user_switched {
    /*background-color: #FFFFD0;*/
    color: #CC0000;
}

/* Styles for the message center link in the master page header */

.messageCenter_link_style {
    background-color: aqua;
    background-color: rgba(0, 255, 0, 0.30);
}
