/*
	These are the styles used by the staff detail popup page. They are rather specialized,
    and they aren't used elsewhere in the application.
*/

/* Styles for the client/staff detail popup */

.staffdetailpopup {
    padding: 2px;
    font-size: .8em;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 4px; /* CSS3 */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3); /* CSS3 */
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    border-collapse: separate; /* Must override collapse inherited from <table>, or IE loses shadow */
}

.staffdetailpopup_surround {
    position: relative;
    width: 300px;
}

.staffdetailpopup_titlediv {
    min-height: 17px;
    padding: 2px;
    font-size: 1.1em;
    font-weight: 600;
    background-color: #F0F0F0;
}

.staffdetailpopup_closebox {
    border: 1px solid #D0D0D0;
    float: right;
    cursor: pointer;
    background-color: #FFFFFF;
}

.staffdetailpopup_left_arrow {
    position: absolute;
    top: 0px;
    left: 1px;
    background-image: url('/images/detail_popup_left_arrow.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 24px;
}
